.wrapper {
    width: 100vw;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .todos {
    margin-top: 20px;

    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    font-size: 22px;
  }
  .actions {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  input {
    height: 30px;
    width: 300px;
    border: 1px solid aquamarine;
  }
  #button {
    background: aqua;
    border: 1px solid saddlebrown;
    height: 30px;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: chocolate;
  }
  button {
    cursor: pointer;
  }
  .todos {
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding: 8px;
    border-bottom: 1px solid black;
  }